<!DOCTYPE html>
<html>
<head>
  <title>PruebaClass</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="menu">
	<% if session[:user_id] %>
		<%= link_to 'Cerrar sesion', login_users_path, method: :delete %>
	<% end %>
</div>
<%= yield %>

</body>
</html>
